.main-content {
    padding: auto;
  }
  
  .section {
    padding: auto;
    text-align: center;
  }
  
  .sub-heading {
    color: rgb(247, 167, 40); /* Adjust color to match the design */
    font-size: 70px; /* Adjust font size to match the design */
    margin-bottom: 1px;
    margin-top: 15px;
  }
  
  .heading {
    font-size: 46px; /* Adjust font size to match the design */
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 10px;
  }
  
  .heading .back {
    display: inline-block;
    position: relative;
  }
  
  .heading .back::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; /* Adjust thickness to match the design */
    background: rgb(239, 164, 43); /* Adjust color to match the design */
    bottom: 0;
    left: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust gap to match the design */
    margin-top: 20px;
  }
  
  .sign-up-button {
    background-color: #fb8f24; /* Adjust color to match the design */
    color: white;
    padding: 10px 20px; /* Adjust padding to match the design */
    text-decoration: none;
    border-radius: 7px; /* Adjust border radius to match the design */
    font-weight: bold;
  }
  
  .sign-up-button1 {
    background-color: #fff; /* Adjust color to match the design */
    color: #000; /* Adjust color to match the design */
    padding: 10px 20px; /* Adjust padding to match the design */
    text-decoration: none;
    border-radius: 7px; /* Adjust border radius to match the design */
    border: 3px solid #ddd; /* Adjust border to match the design */
    font-weight: bold;
  }
  